@{
    ViewBag.Title = "Contact Info";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<h1>Worakorn Chaichakan (Matt)</h1>

<address>
    Wolli Creek<br />
    NSW 2205<br />
    <abbr title="Phone">P:0450 678 613</abbr>
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:worakorn.chaichakan@hotmail.com">worakorn.chaichakan@hotmail.com</a><br />
</address>